body {
    margin:0;
    padding : 0;
    font-family:Arial, Helvetica, sans-serif
}

.container {
 height : 60px;
 background-color:purple;
 display: flex;
 justify-content: space-between;
 align-items: center;
 min-width:100%;

}
.container h1{
    color:white;
    margin:15px;
}
.links {
    display: flex;
    list-style: none;
}
.links :hover {
    color:red
}

.link{
 text-decoration: none;
 color:white;
 margin:15px;
 font-size: 20px;
}
.container button{
 display: none;
}

@media (max-width:700px) {
  .links{
     display: none;
  }
  
 .container button{
     display:flex;
     margin-right:10px;
    }
 
}
#hidden{
    position: absolute;
    flex-direction: column;
    right:0px;
    top:40px;
    width:100%;
    color:white;
    display: flex;
    height:120px;
    justify-content:space-evenly;
    align-items: center;
    background-color:purple;
    
   }