body {
    margin:0;
    padding : 0;
    font-family:'Times New Roman', Times, serif;

}

.container {
 height : 60px;
 background-color:#413737;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width:100%;
 right:0
}
.container h1{
    color:red;
    margin:15px;
}
.links {
    display: flex;
    list-style: none;
}
.links :hover {
    color:red
}

.link{
 text-decoration: none;
 color:white;
 margin:15px;
 font-size: 20px;
}
.container button{
 display: none;
}

@media (max-width:700px) {
  .links{
     display: none;
  }
  
  
 .container button{
     display:flex;
     margin-right:10px;
    }
 
}
#hidden{
    position: absolute;
    flex-direction: column;
    right:0px;
    top:40px;
    width:100%;
    color:white;
    display: flex;
    height:120px;
    justify-content:space-evenly;
    align-items: flex-start;
    background-color:#413737;
    z-index: 10;
    opacity: 0.9;
   }